/artifacts-zk
/cache-zk
/cache_hardhat
/cache_hardhat-zk
/forge-cache

/frontend/node_modules
/frontend/build
/frontend/firebase.json
/frontend/yarn.lock
/garbages/

/node_modules
/out

/src/paymaster/doc/
/typechain-types

.env
.DS_Store


