/artifacts-zk
/cache-zk
/cache_hardhat
/cache_hardhat-zk
/forge-cache

/deploy/deployUniswapV2.ts
/deploy/dusts.ts
/deploy/script.ts
/deploy/script1.ts

/frontend/artifacts-zk
/frontend/node_modules
/frontend/build
/frontend/firebase.json
/frontend/yarn-error.log
/frontend/yarn.lock
/garbages/

/node_modules
/out

/local-setup
/typechain-types

.env
.DS_Store
yarn-error.log


